.forecastDetails {
    position: relative;
    width: 100%;
}

.buttonsList {
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

li button {
    cursor: pointer;
    padding: 7px;
    background-color: #FFF;
    border: 2px solid rgb(30, 104, 138);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    transition: .5s;
}
li button:hover {
    background-color: rgb(30, 104, 138);
    color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.4);
}

h3 {
    text-align: center;
    margin: 15px 0 5px 0;
    color: #1E3A8A;
}

.forecasts {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.forecasts li {
    padding: 5px;
    font-size: 15pt;
    border-end-end-radius: 10px;
    box-shadow: 2px 2px 0 0 rgba(30, 104, 138, .7);
}

.emoji {
    font-size: 20pt;
}

@media (max-width:480px) {
    .forecasts {
        flex-direction: column;
    }
    .forecasts li:nth-child(1) {
        padding-top: 0;
    }
}